 <!-- Education -->
<div>
    <div class="mb-8 border-b-4 border-gray-100 py-2.5 dark:border-gray-900">
        <h3 class="text-xl font-medium text-gray-800 dark:text-gray-200">Education</h3>
    </div>
    <ul class="relative space-y-6 pl-6 before:absolute before:bottom-0 before:left-0 before:top-0 before:block before:w-1 before:rounded-full before:bg-red-50 before:content-[''] dark:before:bg-red-950">
        <li class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-red-200/75 before:bg-white before:content-[''] dark:before:border-red-800/75 dark:before:bg-gray-950">
            <h4 class="text-sm font-semibold text-red-600 dark:text-red-500">Jan 2015- Feb 2015</h4>
            <h5 class="mb-2 font-bold text-gray-800 dark:text-gray-200">
                Certificate MongoDB for Node.js Developers
            </h5>
            <p class="text-sm/relaxed text-gray-700 dark:text-gray-300">
                Mongo University
            </p>
        </li>
        <li class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-red-200/75 before:bg-white before:content-[''] dark:before:border-red-800/75 dark:before:bg-gray-950">
            <h4 class="text-sm font-semibold text-red-600 dark:text-red-500">Jan 2015 - Feb 2015</h4>
            <h5 class="mb-2 font-bold text-gray-800 dark:text-gray-200">Certificate Learning how to learn certificate</h5>
            <p class="text-sm/relaxed text-gray-700 dark:text-gray-300">
                Coursera (University of San Diego)
            </p>
        </li>
        <li class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-red-200/75 before:bg-white before:content-[''] dark:before:border-red-800/75 dark:before:bg-gray-950">
            <h4 class="text-sm font-semibold text-red-600 dark:text-red-500">Sep 2009 - Oct 2011</h4>
            <h5 class="mb-2 font-bold text-gray-800 dark:text-gray-200">Master in science Business Administration</h5>
            <p class="text-sm/relaxed text-gray-700 dark:text-gray-300">
                Haute Ecole Spécialisée de Suisse Occidentale (HES-SO)
            </p>
        </li>
        <li class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-red-200/75 before:bg-white before:content-[''] dark:before:border-red-800/75 dark:before:bg-gray-950">
            <h4 class="text-sm font-semibold text-red-600 dark:text-red-500">Sep 2006 - Sep 2009</h4>
            <h5 class="mb-2 font-bold text-gray-800 dark:text-gray-200">Bachelors in Management of Systems Information</h5>
            <p class="text-sm/relaxed text-gray-700 dark:text-gray-300">
                Haute école de Gestion de Genève (HEG-GE)
            </p>
        </li>
        <li class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-red-200/75 before:bg-white before:content-[''] dark:before:border-red-800/75 dark:before:bg-gray-950">
            <h4 class="text-sm font-semibold text-red-600 dark:text-red-500">Sep 2004 - Jun 2006</h4>
            <h5 class="mb-2 font-bold text-gray-800 dark:text-gray-200">Associates in Information systems</h5>
            <p class="text-sm/relaxed text-gray-700 dark:text-gray-300">
                Ecole Supérieur d'informatique de Gestion (ESIG)
            </p>
        </li>
    </ul>
</div>
  <!-- END Education -->