<!-- Projects -->
<div>
    <div class="mb-8 border-b-4 border-gray-100 py-2.5 dark:border-gray-900">
        <h3 class="text-xl font-medium text-gray-800 dark:text-gray-200">Personal skills</h3>
    </div>
    <ul class="relative space-y-6 pl-6 before:absolute before:bottom-0 before:left-0 before:top-0 before:block before:w-1 before:rounded-full before:bg-red-50 before:content-[''] dark:before:bg-red-950">
        <li class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-red-200/75 before:bg-white before:content-[''] dark:before:border-red-800/75 dark:before:bg-gray-950">
            <!-- <h4 class="text-sm font-semibold text-red-600 dark:text-red-500">
                Team player
            </h4> -->
            <h5 class="mb-2 font-bold text-gray-800 dark:text-gray-200">
                Team player                
            </h5>
            <p class="text-sm/relaxed text-gray-700 dark:text-gray-300">
                I enjoy working with other people. I give more importance to teamwork rather than to individual talents.
            </p>
        </li>
        <li class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-red-200/75 before:bg-white before:content-[''] dark:before:border-red-800/75 dark:before:bg-gray-950">
            <!-- <h4 class="text-sm font-semibold text-red-600 dark:text-red-500">
                
            </h4> -->
            <h5 class="mb-2 font-bold text-gray-800 dark:text-gray-200">
                Communicator
            </h5>
            <p class="text-sm/relaxed text-gray-700 dark:text-gray-300">
                I believe that good communication is about listening and having the empathy before saying anything.
            </p>
        </li>
        <li class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-red-200/75 before:bg-white before:content-[''] dark:before:border-red-800/75 dark:before:bg-gray-950">
            <!-- <h4 class="text-sm font-semibold text-red-600 dark:text-red-500">
                Creative
            </h4> -->
            <h5 class="mb-2 font-bold text-gray-800 dark:text-gray-200">
                Creative                
            </h5>
            <p class="text-sm/relaxed text-gray-700 dark:text-gray-300">
                I like to use my imagination to construct and deconstruct all part of an idea.
            </p>
        </li>
        <li class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-red-200/75 before:bg-white before:content-[''] dark:before:border-red-800/75 dark:before:bg-gray-950">
            <!-- <h4 class="text-sm font-semibold text-red-600 dark:text-red-500">
                Persevering
            </h4> -->
            <h5 class="mb-2 font-bold text-gray-800 dark:text-gray-200">
                Persevering
                <!-- <a class="font-medium text-black underline hover:text-black/75" href="javascript:void(0)">https://example.com</a> -->
            </h5>
            <p class="text-sm/relaxed text-gray-700 dark:text-gray-300">
                I understand that one can not always succeed the first time. I am committed to my goals, but flexible with my approaches.
            </p>
        </li>
    </ul>
    </div>
    <!-- END Projects -->