<!-- Social -->
<div>
    <div class="mb-8 border-b-4 border-gray-100 py-2.5 dark:border-gray-900">
        <h3 class="text-xl font-medium text-gray-800 dark:text-gray-200">Social</h3>
    </div>
    <ul class="relative space-y-6 pl-6 before:absolute before:bottom-0 before:left-0 before:top-0 before:block before:w-1 before:rounded-full before:bg-red-50 before:content-[''] dark:before:bg-red-950">
        <li class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-red-200/75 before:bg-white before:content-[''] dark:before:border-red-800/75 dark:before:bg-gray-950">
            <h4 class="text-sm font-semibold text-red-600 dark:text-red-500">Facebook</h4>
            <h5 class="mb-2 font-bold text-gray-800 dark:text-gray-200">Personal Profile</h5>
            <p>
                <a href="https://www.facebook.com/crazy.gabzon" target="_blank" class="text-sm font-medium text-gray-600 underline hover:text-gray-600/75 dark:text-gray-400 dark:hover:text-gray-400/75">
                    https://www.facebook.com/crazy.gabzon
                </a>
            </p>
        </li>
        <li class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-red-200/75 before:bg-white before:content-[''] dark:before:border-red-800/75 dark:before:bg-gray-950">
            <h4 class="text-sm font-semibold text-red-600 dark:text-red-500">Instagram</h4>
            <h5 class="mb-2 font-bold text-gray-800 dark:text-gray-200">Personal Profile</h5>
            <p>
                <a href="https://www.instagram.com/6abzon/" target="_blank" class="text-sm font-medium text-gray-600 underline hover:text-gray-600/75 dark:text-gray-400 dark:hover:text-gray-400/75">
                    https://www.instagram.com/6abzon/
                </a>
            </p>
        </li>
        <li class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-red-200/75 before:bg-white before:content-[''] dark:before:border-red-800/75 dark:before:bg-gray-950">
            <h4 class="text-sm font-semibold text-red-600 dark:text-red-500">X</h4>
            <h5 class="mb-2 font-bold text-gray-800 dark:text-gray-200">Work Profile</h5>
            <p>
                <a href="https://x.com/gab_zam" target="_blank" class="text-sm font-medium text-gray-600 underline hover:text-gray-600/75 dark:text-gray-400 dark:hover:text-gray-400/75">
                    https://x.com/gab_zam
                </a>
            </p>
        </li>
        <li class="before:border-1 relative before:absolute before:-left-[1.875rem] before:top-6 before:block before:size-4 before:rounded-full before:border-2 before:border-red-200/75 before:bg-white before:content-[''] dark:before:border-red-800/75 dark:before:bg-gray-950">
            <h4 class="text-sm font-semibold text-red-600 dark:text-red-500">LinkedIn</h4>
            <h5 class="mb-2 font-bold text-gray-800 dark:text-gray-200">Work Profile</h5>
            <p>
                <a href="https://www.linkedin.com/in/gabzon/" target="_blank" class="text-sm font-medium text-gray-600 underline hover:text-gray-600/75 dark:text-gray-400 dark:hover:text-gray-400/75">
                    https://www.linkedin.com/in/gabzon/
                </a>
            </p>
        </li>
    </ul>
</div>
<!-- END Social -->