---
import MainLayout from "../layouts/MainLayout.astro"
import Photos from "../components/Photos.astro"
import TwitterIcon from "../icons/TwitterIcon.astro"
import InstragramIcon from "../icons/InstagramIcon.astro"
import GithubIcon from "../icons/GithubIcon.astro"
import LinkedInIcon from "../icons/LinkedInIcon.astro"
import NewsletterForm from "../components/NewsletterForm.astro"
import WorkCV from "../components/WorkCV.astro"
import LatestArticles from "../components/LatestArticles.astro"
import Approach from "../components/Approach.astro"

import Hero from "../components/Hero.astro"
import Benefits from "../components/Benefits.astro"
import Features from "../components/Features.astro"
---

<MainLayout>
	<Hero />	
	<Photos />
	<Benefits/>	
	<Features/>
	<Approach/>

	<div class="sm:px-8 mt-24 md:mt-28">
		<div class="mx-auto w-full max-w-7xl lg:px-8">
			<div class="relative px-4 sm:px-8 lg:px-12">
				<div class="mx-auto max-w-2xl lg:max-w-5xl">
					<div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
						<LatestArticles />
						<div class="space-y-10 lg:pl-16 xl:pl-24">
							<NewsletterForm/>
							<WorkCV/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</MainLayout>