---
import MainLayout from "../layouts/MainLayout.astro"
import Pricing from "../components/Pricing.astro"
import Modules from "../components/Modules.astro"
---

<MainLayout>
	<Pricing/>
	<div id="modules">
		<Modules/>
	</div>
</MainLayout>