
<!-- Pricing -->
<div class="max-w-6xl px-4 py-10 sm:px-2 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-xl mx-auto text-center mb-10 lg:mb-14">
        <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Pricing</h2>
        <p class="mt-1 text-gray-600 dark:text-neutral-400">Whatever your status, our offers evolve according to your needs.</p>
    </div>
    <!-- End Title -->
  
    <!-- Grid -->
    <div class="mt-12 grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:items-center">
  
        <!-- Card -->
        <div class="flex flex-col border border-gray-200 text-center rounded-xl p-8 dark:border-neutral-600">
            <h4 class="font-medium text-lg text-gray-800 dark:text-neutral-200">Starter</h4>
            <span class="mt-5 font-bold text-5xl text-gray-800 dark:text-neutral-200">
                <span class="font-bold text-2xl -me-2">CHF</span>
                600
            </span>
            <p class="mt-2 text-sm text-gray-500 dark:text-neutral-500">All the basics for small business</p>
  
            <ul class="mt-7 space-y-2.5 text-sm">
                <li class="flex space-x-2">
                    <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                    Hosting
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                    1 year access to <a href="https://corazon.dance/en/solutions-for-schools" target="_blank" class="text-red-500 hover:underline">CMS</a>
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                    1 year support & updates
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                    Single page
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                    3 updates per year
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                    6 <a href="#modules" class="text-red-500 hover:underline">modules</a>
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-shrink-0 mt-0.5 size-4 text-gray-600 dark:text-gray-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                    Dark & Light themes
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-shrink-0 mt-0.5 size-4 text-gray-600 dark:text-gray-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                    Google Maps configuration
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-shrink-0 mt-0.5 size-4 text-gray-600 dark:text-gray-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                    Multilanguage
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-shrink-0 mt-0.5 size-4 text-gray-600 dark:text-gray-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                    Reviews or testimonials
                    </span>
                </li>
            </ul>
  
            <a class="mt-5 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:border-red-600 hover:text-red-600 disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-neutral-400 dark:hover:text-red-500 dark:hover:border-red-600" href="#">
            Sign up
            </a>
        </div>
      <!-- End Card -->

        <!-- Card -->
        <div class="flex flex-col border-2 border-red-600 text-center shadow-xl rounded-xl p-8 dark:border-red-700">
            <p class="mb-3"><span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-lg text-xs uppercase font-semibold bg-red-100 text-red-800 dark:bg-red-600 dark:text-white">Most popular</span></p>
            <h4 class="font-medium text-lg text-gray-800 dark:text-neutral-200">Pro</h4>
            <span class="mt-5 font-bold text-5xl text-gray-800 dark:text-neutral-200">
                <span class="font-bold text-2xl -me-2">CHF</span>
                900
            </span>
            <p class="mt-2 text-sm text-gray-500 dark:text-neutral-500">Everything you need for a growing business</p>
        
            <ul class="mt-7 space-y-2.5 text-sm">
                <li class="flex space-x-2">
                    <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                        Hosting
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                    1 year access to <a href="https://corazon.dance/en/solutions-for-schools" target="_blank" class="text-red-500 hover:underline">CMS</a>
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                    1 year support & updates
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                        Multipage
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                        6 updates per year
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                        10 <a href="#modules" class="text-red-500 hover:underline">modules</a>
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                      Dark & Light themes
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                      Google maps configuration
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-shrink-0 mt-0.5 size-4 text-gray-600 dark:text-gray-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                    Multilanguage
                    </span>
                </li>
                <li class="flex space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex-shrink-0 mt-0.5 size-4 text-gray-600 dark:text-gray-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                    <span class="text-gray-800 dark:text-neutral-400">
                    20 Reviews & Testimonials
                    </span>
                </li>
            </ul>
    
            <a class="mt-5 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-red-600 text-white hover:bg-red-700 disabled:opacity-50 disabled:pointer-events-none" href="#">
                Sign up
            </a>
        </div>
        <!-- End Card -->
  
      <!-- Card -->
      <div class="flex flex-col border border-gray-200 text-center rounded-xl p-8 dark:border-neutral-600">
        <h4 class="font-medium text-lg text-gray-800 dark:text-neutral-200">Premium</h4>
        <span class="mt-5 font-bold text-5xl text-gray-800 dark:text-neutral-200">
          <span class="font-bold text-2xl -me-2">CHF</span>
          1'200
        </span>
        <p class="mt-2 text-sm text-gray-500 dark:text-neutral-500">Advanced features for scaling your business</p>
  
        <ul class="mt-7 space-y-2.5 text-sm">
            <li class="flex space-x-2">
                <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-800 dark:text-neutral-400">
                Hosting
                </span>
            </li>
            <li class="flex space-x-2">
                <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-800 dark:text-neutral-400">
                1 year access to <a href="https://corazon.dance/en/solutions-for-schools" target="_blank" class="text-red-500 hover:underline">CMS</a>
                </span>
            </li>
            <li class="flex space-x-2">
                <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-800 dark:text-neutral-400">
                1 year support & updates
                </span>
            </li>
            <li class="flex space-x-2">
                <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-800 dark:text-neutral-400">
                  Multipage
                </span>
            </li>
            <li class="flex space-x-2">
                <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-800 dark:text-neutral-400">
                  9 updates per year
                </span>
              </li>
            <li class="flex space-x-2">
                <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-800 dark:text-neutral-400">
                16 <a href="#modules" class="text-red-500 hover:underline">modules</a>
                </span>
            </li>
            <li class="flex space-x-2">
                <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-800 dark:text-neutral-400">
                  Dark & Light themes
                </span>
            </li>
            <li class="flex space-x-2">
                <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-800 dark:text-neutral-400">
                    Multilanguage
                </span>
            </li>
            <li class="flex space-x-2">
                <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-800 dark:text-neutral-400">
                  Google maps configuration
                </span>
            </li>
            <li class="flex space-x-2">
                <svg class="flex-shrink-0 mt-0.5 size-4 text-red-600 dark:text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                <span class="text-gray-800 dark:text-neutral-400">
                  20 Reviews or Testimonials
                </span>
            </li>
        </ul>
  
        <a class="mt-5 py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-gray-200 text-gray-500 hover:border-red-600 hover:text-red-600 disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-neutral-400 dark:hover:text-red-500 dark:hover:border-red-600" href="#">
          Sign up
        </a>
      </div>
      <!-- End Card -->
    </div>
    <!-- End Grid -->
  
    <p class="text-center mt-2 text-sm text-gray-500 dark:text-neutral-500">CMS* Corazon Management System</p>
   
  </div>
  <!-- End Pricing -->


<div class="py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-16">
        <div class="mx-auto max-w-2xl sm:text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl">Simple no-tricks </h2>
            <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-400">
                Take advantage of this limited offer.
            </p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
            <div class="p-8 sm:p-10 lg:flex-auto">
                <h3 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-200">Lifetime membership</h3>
                <p class="mt-6 text-base leading-7 text-gray-600 dark:text-gray-400">
                    I'm seeking 25 passionate, and forward-thinking individuals to join our founding member program. Be among the first to shape the future of school management system with us and enjoy a special, one-time offer.
                </p>
                <div class="mt-10 flex items-center gap-x-4">
                    <h4 class="flex-none text-sm font-semibold leading-6 text-red-600">What’s included</h4>
                    <div class="h-px flex-auto bg-gray-100"></div>
                </div>
                <ul role="list" class="mt-8 grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 dark:text-gray-400 sm:grid-cols-2 sm:gap-6">
                    <li class="flex gap-x-3">
                        <svg class="h-6 w-5 flex-none text-red-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        Complete website service
                    </li>
                    <li class="flex gap-x-3">
                        <svg class="h-6 w-5 flex-none text-red-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        Unlimited access to CMS forever
                        
                    </li>
                    <li class="flex gap-x-3">
                        <svg class="h-6 w-5 flex-none text-red-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        Early access to new features
                    </li>
                    <li class="flex gap-x-3">
                        <svg class="h-6 w-5 flex-none text-red-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        Founding member recognition
                    </li>

                    <li class="flex gap-x-3">
                        <svg class="h-6 w-5 flex-none text-red-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        Exclusive benefits
                    </li>
                    <li class="flex gap-x-3">
                        <svg class="h-6 w-5 flex-none text-red-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        All modules included
                    </li>
                    <li class="flex gap-x-3">
                        <svg class="h-6 w-5 flex-none text-red-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        20 reviews per year
                    </li>
                    <li class="flex gap-x-3">
                        <svg class="h-6 w-5 flex-none text-red-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        Google maps configuration
                    </li>
                </ul>
            </div>
            <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
                <div class="rounded-2xl bg-gray-50 dark:bg-gray-950 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-32">
                    <div class="mx-auto max-w-xs px-8">
                        <p class="text-base font-semibold text-gray-600 dark:text-gray-400">Pay once, have it forever</p>
                        <p class="mt-6 flex items-baseline justify-center gap-x-2">
                            <span class="text-5xl font-bold tracking-tight text-gray-900 dark:text-gray-100">1'500</span>
                            <span class="text-sm font-semibold leading-6 tracking-wide text-gray-600 dark:text-gray-400">CHF</span>
                        </p>
                        <a href="#" class="mt-10 block w-full rounded-md bg-red-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Get access</a>
                        <p class="mt-6 text-xs leading-5 text-gray-600 dark:text-gray-400">Invoices and receipts available for easy company reimbursement</p>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
  

