---
import { Image } from 'astro:assets';
import gab from "../assets/images/gab.jpg"
import ThemeIcon from "../components/ThemeIcon.astro"
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
const active = "relative block px-3 py-2 transition text-red-500 dark:text-red-400";
const inactive = "relative block px-3 py-2 transition hover:text-red-500 dark:hover:text-red-400";
const activeShadow = "absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-red-500/0 via-red-500/40 to-red-500/0 dark:from-red-400/0 dark:via-red-400/40 dark:to-red-400/0"

---
<header class="pointer-events-none relative z-30 flex flex-none flex-col" style="height:var(--header-height);margin-bottom:var(--header-mb)">
    <div class="top-0 z-20 h-16 pt-6" style="position:var(--header-position)">
        <div class="sm:px-8 top-[var(--header-top,theme(spacing.6))] w-full" style="position:var(--header-inner-position)">
            <div class="mx-auto w-full max-w-7xl lg:px-8">
                <div class="relative px-4 sm:px-8 lg:px-12">
                    <div class="mx-auto max-w-2xl lg:max-w-5xl">
                        <div class="relative flex gap-4">
                            <div class="flex flex-1">
                                <div class="h-10 w-10 rounded-full bg-white/90 p-0.5 shadow-lg shadow-zinc-800/5 ring-2 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:ring-white/10 hover:ring-red-500 dark:hover:ring-red-500">
                                    <a aria-label="Home" class="pointer-events-auto" href="/">
                                        <Image src={gab} alt="gabriel avatar" class="rounded-full bg-zinc-100 object-cover dark:bg-zinc-800 h-9 w-9" />
                                    </a>
                                </div>
                            </div>
                            <div class="flex flex-1 justify-end md:justify-center" x-data="{ showMenu: false }">
                                <div class="pointer-events-auto md:hidden">
                                    <button x-on:click="showMenu = !showMenu" class="group flex items-center rounded-full bg-white/90 px-4 py-2 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10 dark:hover:ring-white/20" type="button" aria-expanded="false" data-headlessui-state="" id="headlessui-popover-button-:R2miqla:">
                                        Menu
                                        <svg viewBox="0 0 8 6" aria-hidden="true" class="ml-3 h-auto w-2 stroke-zinc-500 group-hover:stroke-zinc-700 dark:group-hover:stroke-zinc-400">
                                            <path d="M1.75 1.75 4 4.25l2.25-2.5" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                                <div style="position:fixed;top:1px;left:1px;width:1px;height:0;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0;display:none">
                                </div>
                                
                                    
                                    <div x-show="showMenu" x-on:click.outside="showMenu = false" class="pointer-events-auto absolute inset-x-4 z-50 origin-top rounded-3xl bg-white ring-1 ring-zinc-900/5 dark:bg-zinc-900 dark:ring-zinc-800">
                                        <ul class="rounded-xl bg-white/90 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10">
                                            <li>
                                                <a class={currentPath === "/" ? active : inactive } href="/">
                                                    Home
                                                    <span class={currentPath === "/" ? activeShadow : "hidden"}></span> 
                                                </a>
                                            </li>
                                            <li>
                                                <a class={currentPath === "about" ? active : inactive } href="/about">
                                                    About
                                                    <span class={currentPath === "about" ? activeShadow : "hidden"}></span> 
                                                </a>
                                            </li>
                                            <li>
                                                <a class={currentPath === "plans" ? active : inactive } href="/plans">Plans</a>
                                            </li>
                                            <li>
                                                <a class={currentPath === "projects" ? active : inactive } href="/projects">
                                                    Projects
                                                    <span class={currentPath === "projects" ? activeShadow : "hidden"}></span> 
                                                </a>
                                            </li>
                                            <li>
                                                <a class={currentPath === "blog" ? active : inactive } href="/blog">
                                                    Blog
                                                    <span class={currentPath === "blog" ? activeShadow : "hidden"}></span> 
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                               
                                    <nav class="pointer-events-auto hidden md:block">
                                        <ul class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10">
                                            <li>
                                                <a class={currentPath === "/" ? active : inactive } href="/">
                                                    Home
                                                    <span class={currentPath === "/" ? activeShadow : "hidden"}></span> 
                                                </a>
                                            </li>
                                            <li>
                                                <a class={currentPath === "about" ? active : inactive } href="/about">
                                                    About
                                                    <span class={currentPath === "about" ? activeShadow : "hidden"}></span> 
                                                </a>
                                            </li>
                                            <li>
                                                <a class={currentPath === "plans" ? active : inactive } href="/plans">Plans</a>
                                            </li>
                                            <li>
                                                <a class={currentPath === "projects" ? active : inactive } href="/projects">
                                                    Projects
                                                    <span class={currentPath === "projects" ? activeShadow : "hidden"}></span> 
                                                </a>
                                            </li>
                                            <li>
                                                <a class={currentPath === "blog" ? active : inactive } href="/blog">
                                                    Blog
                                                    <span class={currentPath === "blog" ? activeShadow : "hidden"}></span> 
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>

                                <div class="flex justify-end md:flex-1">
                                    <div class="pointer-events-auto">
                                        <ThemeIcon />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
